<div class="container">
    <div class="row mx-2">
        <div class="col-mad-12 mt-4">           
            <a class="fs-6 p-1" routerLink="/matBasicTable" routerLinkActive="active" >Angular Material Table</a>
        </div>
        <div class="col-mad-12 mt-2">
            <a class="fs-6 p-1" routerLink="/matTable" routerLinkActive="active" >Angular Material Table, Pagination, Sorting & Filter</a>         
        </div>
      
    </div>
    <!-- <app-material-table></app-material-table> -->
<router-outlet></router-outlet>
</div>
